html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
    display: flex;
    justify-content: center;
}

/* navbar */
nav {
    display: flex;
    position: fixed;
    width: 550px;
    padding: 20px 0 20px 10px;
    gap: 10px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.color-picker {
    background-color: #E5E5E5;
    border: 2px solid #D1D5DB;
    width: 61px;
    height: 41px;
    padding: .5px;
}

.drop-down {
    position: relative;
}
.drop-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 312px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.show {
    display: flex;
    flex-direction: column;
}

.color-scheme-btn {
    border: 1px solid #9CA3AF;
    border-radius: 5px;
    padding: 7px;
    width: 123px;
    height: 42px;
    font-size: 0.75rem;
}

.drop-btn {
    border: 1px solid #9CA3AF;
    border-radius: 5px;
    padding: 7px;
    width: 312px;
    height: 42px;
    text-align: left;
}


.schemes {
    border: none;
    padding: 12px 10px;
}

.schemes:hover, .schemes:focus {
    cursor: pointer;
    color: #111827;
    background-color: #C5CBD3;
    font-weight: 600;
}

/* body */
.color-grid {
    display: flex;
    flex-direction: row;
    /* margin-bottom: 10px; */
}
.color {
    border: none;
    width: 110px;
    height: 550px;
}

.hex-value {
    display: flex;
    flex-direction: column;
    margin-top: 555px;
    padding: 10px 0px;
    align-items: center;
    color: #2B283A;
}

.hex-value:hover {
    cursor: pointer;
    color: #111827;
    background-color: #C5CBD3;
    font-weight: 600;
    border-radius: 7px;
}
